a { 
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.underline:hover {
    text-decoration: underline;
}


body {
    margin: 0; 
    padding: 0; 
}

.index {
    position: relative; 
    width: 100%; 
    overflow: auto; 
}



.logoutheader {
    border-bottom: 1px solid #EEEEEE;
}

.logoutdiv {
    width: 861px;
    height: 30px;
    margin: auto;
    padding-top: 10px;
    text-align: right;
}

.logoutdiv a:hover{
    text-decoration: underline;
}

#header {
    border-bottom: 1px solid #EEEEEE; 
}

.in_header {
    width: 881px; 
    height: 220px; 
    margin: auto;
}

.logobox { 
    float: left;
    display: inline-block;
    margin: 40px 40px 10px 10px; 
}

.searchbox {
    display: inline-block;
    width: 541px;
    height: 220px;
}

.search {
    float: left;
    display: inline-block;
    margin: 130px 0px 0px 0px;
}

.search input[type="text"] { 
    width: 469px;
    height: 48px;
    padding: 0 10px;
    text-align: left;
    border: 1px solid #BDBDBD;
    font-family: '고딕', gothic;
    font-size: 13pt;
    font-weight: normal;
    font-style: normal;   
}

.go {
    display: inline-block;
    margin: 130px 0px 0px 0px;
}



#nav {
    border-bottom: 1px solid #E0E0E0; 
}

.in_nav {
    width: 100%; 
    height: 70px; 
    margin: auto; 
    padding: auto;
    align-items: center;
}

.listbox {
    display: flex;
    align-items: center;
    width: 881px; 
    height: 70px;
    margin: auto;
}

.listbox li {
    display: inline-block;
    margin: 0 0 0 16px;
    font-family: '고딕', gothic;
    font-size: 18pt;
    font-weight: bold;
    font-style: normal;
}

.listbox #first {
    display: inline-block;
    margin-left: 10px;
    font-family: '고딕', gothic;
    font-size: 18pt;
    font-weight: bold;
    font-style: normal;
}

.liststyle { 
    padding: 0;
    list-style: none;
}

.liststyle a:hover {
    color: darkslategray;
}



#section {
    background-color : #FFFEFC;
}

.in_section {
    width : 881px; 
    height : 756px;
    margin : auto;
    padding : auto;
}

.map {
	border : 1px solid #E0E0E0; 
	width : 861px;
	height : 716px;
	margin : 40px 0px 0px 10px;
}





#footer {
    border-top: 1px solid #E0E0E0; 
}
                
.in_footer { 
    width: 881px; 
    height: 140px;
    margin: auto;
    padding: auto;
}
                
.underbox { 
    float: left;
    display: inline-block;
    width: 571px;
    height: 140px;
    padding: 0;
}
                
.minilogobox { 
    float: left;
    display: inline-block;
    width: 120px; 
    height: 40px;
    margin: 30px 25px 0 10px; 
    padding: 0;
}
                
.memberbox { 
    display: inline-block;
    width: 200px; 
    height: 30px;
    margin: 40px 0 0 10px; 
    padding: 0;
    font-family: '맑은 고딕', gothic;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
}
                
.copyrightbox { 
    display: block;
    height: 20px;
    padding: 10px;
    font-size: 10pt;
    font-style: italic;
}
                
.minigosearch { 
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 30px 10px 90px 0;
}
                
.minisearchbox {
    float: right;
    display: inline-block;
    width: 260px; 
    height: 40px; 
    margin: 30px 0;
    padding: 0;
}
                
.minisearchbox input[type="text"] { 
    width: 240px;
    height: 38px;
    padding: 0 10px;
    text-align: left;
    border: 1px solid #BDBDBD;
    font-family: '고딕', gothic;
    font-size: 13pt;
    font-weight: normal;
    font-style: normal;   
}
