a { 
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.underline:hover {
    text-decoration: underline;
}


body {
    margin: 0; 
    padding: 0; 
}

.index {
    position: relative; 
    width: 100%; 
    overflow: auto; 
}



.logoutheader {
    border-bottom: 1px solid #EEEEEE;
}

.logoutdiv {
    width: 861px;
    height: 30px;
    margin: auto;
    padding-top: 10px;
    text-align: right;
}

.logoutdiv a:hover{
    text-decoration: underline;
}

#header {
    border-bottom: 1px solid #EEEEEE; 
}

.in_header {
    width: 881px; 
    height: 220px; 
    margin: auto;
}

.logobox { 
    float: left;
    display: inline-block;
    margin: 40px 40px 10px 10px; 
}

.searchbox {
    display: inline-block;
    width: 541px;
    height: 220px;
}

.search {
    float: left;
    display: inline-block;
    margin: 130px 0px 0px 0px;
}

.search input[type="text"] { 
    width: 469px;
    height: 48px;
    padding: 0 10px;
    text-align: left;
    border: 1px solid #BDBDBD;
    font-family: '고딕', gothic;
    font-size: 13pt;
    font-weight: normal;
    font-style: normal;   
}

.go {
    display: inline-block;
    margin: 130px 0px 0px 0px;
}



#nav {
    border-bottom: 1px solid #E0E0E0; 
}

.in_nav {
    width: 100%; 
    height: 70px; 
    margin: auto; 
    padding: auto;
    align-items: center;
}

.listbox {
    display: flex;
    align-items: center;
    width: 881px; 
    height: 70px;
    margin: auto;
}

.listbox li {
    display: inline-block;
    margin: 0 0 0 16px;
    font-family: '고딕', gothic;
    font-size: 18pt;
    font-weight: bold;
    font-style: normal;
}

.listbox #first {
    display: inline-block;
    margin-left: 10px;
    font-family: '고딕', gothic;
    font-size: 18pt;
    font-weight: bold;
    font-style: normal;
}

.liststyle { 
    padding: 0;
    list-style: none;
}

.liststyle a:hover {
    color: darkslategray;
}

.sticky {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    background-color: whitesmoke;
}



#section {
    background-color: #FFFEFC;
}

.container {
    width: 881px; 
    height: 1280px;
    margin: auto;
    padding: auto;
}

.sub_nav {
	float: left;
	display: inline-block;
	width: 180px; 
	height: 1280px; 
    padding: 0;
    border-right : 1px solid #E0E0E0;
}

.in_section {
	border: 1px solid white;
	display: inline-block;
	width: 698px; 
	height: 1280px;
    padding: 0;
    border: 1px solid black;
}

.sub_list {
	float: left;
	width: 180px;
    margin-top: 10px;
}

.locallist { 
	font-size: 16pt;
	list-style: none;
	font-weight: bold;
	color: black;
}

.locallist summary:hover {
    cursor: pointer;
    color: darkgrey
}
                        
.locallist li {
	font-family: '맑은 고딕', gothic;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	color: black;
	text-align: left;
	margin-top: 10px;
}

.sub_list li {
	font-family: '고딕', gothic;
	font-size: 12pt;
}

.sub_list li li {
	font-family: '고딕', gothic;
	font-size: 10pt;
}

.sub_list li li:hover {
	text-decoration: underline;
}

.selectlist {
	font-weight : bold;
}

.spot {
    position: relative;
    width: 638px;
    height: 280px;
    margin: 30px;
    border: 1px solid lightsteelblue;
}

.imgslide {
    float: left;
    width: 300px;
    height: 200px;
}

.swiper-container {
    width: 300px;
    height: 200px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.textbox {
    position: absolute;
    right: 0px;
    width: 338px;
    height: 200px;
}

.linebox {
    position: absolute;
    bottom: 0px;
    width: 638px;
    height: 80px;
    border: 1px solid blue;
}



#footer {
    border-top: 1px solid #E0E0E0; 
}
                
.in_footer { 
    width: 881px; 
    height: 140px;
    margin: auto;
    padding: auto;
}
                
.underbox { 
    float: left;
    display: inline-block;
    width: 571px;
    height: 140px;
    padding: 0;
}
                
.minilogobox { 
    float: left;
    display: inline-block;
    width: 120px; 
    height: 40px;
    margin: 30px 25px 0 10px; 
    padding: 0;
}
                
.memberbox { 
    display: inline-block;
    width: 200px; 
    height: 30px;
    margin: 40px 0 0 10px; 
    padding: 0;
    font-family: '맑은 고딕', gothic;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
}
                
.member {
    font-family: '맑은 고딕', gothic;
    font-size: 13pt;
    font-weight: normal;
    font-style: normal;
}
                
.copyrightbox { 
    display: block;
    height: 20px;
    padding: 10px;
    font-size: 10pt;
    font-style: italic;
}
                
.minigosearch { 
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 30px 10px 90px 0;
}
                
.minisearchbox {
    float: right;
    display: inline-block;
    width: 260px; 
    height: 40px; 
    margin: 30px 0;
    padding: 0;
}
                
.minisearchbox input[type="text"] { 
    width: 240px;
    height: 38px;
    padding: 0 10px;
    text-align: left;
    border: 1px solid #BDBDBD;
    font-family: '고딕', gothic;
    font-size: 13pt;
    font-weight: normal;
    font-style: normal;   
}
